#diplomaPage {
    position: relative;
    overflow: hidden;
}

#diploma {
    width: 2480px;
    height: 3508px;
    background-color: var(--orange);
}

.hidden {
    display: none;
}

#coverUp {
    width: 100%;
    height: 100%;
    background-color: grey;
}