#diplomaPage {
    position: relative;
    overflow: hidden;
}

#diploma {
    width: 2480px;
    height: 3508px;
    background-color: var(--orange);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#diploma.hidden {
    display: none;
}

#coverUp {
    width: 100%;
    height: 100%;
    background-color: grey;
}