#homepage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#homepage p {
    font-size: 2vh;
    font-weight: 500;
}

#homepage h1 {
    font-size: 7vh;
    font-family: piglet;
    margin: 6vh 0 0;
}

#home1 {
    height: 45%;
    margin: 0 8%;
    position: relative;
    display: flex;
    flex-direction: column;
}

#home1>p {
    position: relative;
    top: 8%;
    margin-top: 0;
}

.hidden {
    display: none;
}

.downloadMapBtn {
    height: var(--buttonHeight);
    width: 50%;
    background-color: var(--orange);
    margin-top: 5vh;
    border: none;
    border-radius: 5px;
    font-size: 2vh;
    font-weight: 500;
}

#homeImg1 {
    height: 50%;
    position: absolute;
    right: 0;
    bottom: 10%;
}

#home2 {
    background-color: var(--white);
    height: 30%;
    display: flex;
}

#home2Box {
    align-self: center;
    width: 100%;
}

#home2Box>h2 {
    font-size: 2.4vh;
    font-weight: 600;
    margin-left: 8%;
}

#scrollContainer {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    margin-top: 20px;
    height: 160px;
    gap: 15px;
}

#scrollContainer>p {
    text-align: center;
}

.scrollImg {
    height: 150px;
    width: 100px;
    text-align: center;
}

.scrollImg>p {
    margin-top: 10px;
}

.scrollImg>div {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100px;
    width: 100px;
}

.character-nalle-puh,
.character-I-or,
.character-Tiger,
.character-Nasse,
.character-Kanin,
.character-Ru,
.character-Christoffer-Robin {
    height: 100px;
}


#scrollContainer> :last-child {
    padding-right: 25px;
}

#scrollContainer> :first-child {
    padding-left: 25px;
}

#home3 {
    height: 28%;
    margin: 0 8%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

#home3>p {
    position: relative;
    bottom: 6%;
}

#to-start {
    background-color: var(--orange);
    height: 24%;
    font-size: 2vh;
    font-weight: 500;
    border: none;
    border-radius: 5px;
}

@media screen and (min-width: 769px) {
    #scrollContainer {
        justify-content: center;
    }

    #home1 {
        display: none;
    }

    #homeImg1 {
        height: 65%;
        position: initial;
    }

    #home2Box>h2 {
        margin-left: 20%;
    }

    .deskop-header {
        display: flex;
        justify-content: center;
        align-items: end;
        margin: 30px;
        gap: 50px;
    }

    .deskop-header-left {
        width: 30%;
    }

    .deskop-header-right {
        height: 65%;
    }

    .downloadMapBtn {
        width: 100%;
    }
}
