@font-face {
    font-family: piglet;
    src: url("../media/Piglet.ttf");
}

:root {
    --white: #ffffff;
    --whitegrey: #F7F7F7;
    --lightgrey: #898989;
    --mediumgrey: #e6e6e6;
    --darkgrey: #5D5D5D;
    --black: #000000;
    --orange: #FFC758;
    --red: #FE7070;
    --buttonHeight: 55px;
    --lineHeight: 1.4375em;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--whitegrey);
    font-family: "Inter", sans-serif;
}

button {
    font-family: "Inter", sans-serif;
    color: var(--black);
}

p {
    line-height: var(--lineHeight);
}
