#closeBtn {
    position: absolute;
    top: 1vh;
    right: 1vh;
    background-image: url(/media/close.png);
    height: 2.5vh;
    width: 2.5vh;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    z-index: 1;
    background-color: var(--whitegrey);
    padding: 10px;
}

#mapAndCurrentStation {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#currentStation {
    text-align: center;
}

#smallMap {
    height: 80vw;
    width: 40vh;
    border-radius: 20px;
}

#currentStationImg {
    height: 80vw;
    width: 40vh;
    border-radius: 20px;
    background-image: url(/media/flower-lilja.jpeg);
    background-position: center;
    background-size: cover;
}

#fullscreenMap {
    height: 100vh;
    width: 100vw;
}