#closeBtn {
    position: absolute;
    top: 1vh;
    right: 1vh;
    background-image: url("../media/close.png");
    height: 2.5vh;
    width: 2.5vh;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    z-index: 1;
    background-color: var(--whitegrey);
    padding: 10px;
}

#mapAndCurrentLocation {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    height: 70vh;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;
    margin-top: 60px;
}

#currentLocation {
    text-align: center;
}

#smallMap {
    height: 40vh;
    width: 85vw;
    border-radius: 20px;
}

#currentLocationImg {
    height: 30vh;
    width: 85vw;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
}

#fullscreenMap {
    height: 100vh;
    width: 100vw;
}

.currentLocationName-desktop {
    display: none;
}

@media screen and (min-width: 769px) {
    #mapAndCurrentLocation {
        flex-direction: row;
        height: 85vh;
        margin-top: 0;
    }

    #smallMap {
        height: 80vh;
        width: 40vw;
    }

    #currentLocationImg {
        height: 80vh;
        width: 40vw;
    }

    .currentLocationName-desktop {
        display: inherit;
        text-align: center;
        margin-top: 50px;
    }

    .currentLocationName-mobile {
        display: none;
    }
}