.station-main {
  padding: 30px;
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--whitegrey);
}

.station-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 50px;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.icon-container {
  padding: 10px;
  background-color: orange;
  border-radius: 50%;
  width: 30px;
  display: flex;
  justify-content: center;
}

.fa-question,
.fa-map-marker-alt,
.fa-paw {
  color: white;
  font-size: 30px;
}

.question-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.alternatives-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.alternative-button {
  border: none;
}

.alternative-button img {
  width: 100%;
}

.alternative-text {
  height: 20vh;
  font-size: 50px;
}

.final-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.congrats-title {
  font-family: piglet;
  font-size: 5vh;
  margin: 0;
}

.congrats-description {
  margin-top: 30px;
}

.alternatives-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.honey-locations {
  margin-bottom: 30px;
}

@media screen and (min-width: 769px) {
  .question-content {
    display: flex;
    align-items: center;
  }

  .question-description {
    max-width: 70vw;
  }

  .alternative-button {
    width: 200px;
  }

  .alternatives-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
  }
}

