body {
    box-sizing: border-box;
}

#overlay {
    background-color: rgba(250, 250, 250, 0.6);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popUp {
    background-color: var(--white);
    padding: 60px 30px;
    border-radius: 10px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#tipTitle {
    font-family: piglet;
    font-size: 5vh;
    margin: 0;
}

#tipTextContent {
    font-size: 2vh;
    margin-top: 0;
}

.closeOrContinueBtn {
    background-color: var(--orange);
    height: var(--buttonHeight);
    width: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    font-size: 2vh;
}
